/* ==UserStyle==text
@name           Musescore dark
@namespace      https://github.com/Vacym
@version        0.2.2
@description    Dark theme for MuseScore with score inverting
@author         Vacym
@homepageURL    https://github.com/Vacym/Musescore-Dark
@updateURL      https://raw.githubusercontent.com/Vacym/Musescore-Dark/main/main.user.less
@preprocessor   less

@var checkbox is-dark-scheme     "is dark scheme"             1

@var color background-main       "main background color"      #101010
@var color background-secondary  "secondary background color" #222222
@var color background-tertiary   "tertiary background color"  #252525
@var color background-accent     "accent background color"    #282d33
@var color text-main             "main text color"            #f2f9ff
@var color text-secondary        "plain text color"           #c4d0e4
@var color text-tertiary         "tertiary text color"        #8797af
@var color link                  "links color"                #6492f7
@var color main                  "main color"                 #1a4f9f
@var color main-transparent      "main transparent color"     #1e2a35
@var color secondary             "secondary color"            #0b804f
@var color measure-current       "measure color"              rgba(240, 20, 20, 0.2)

@var text  score-filter          "score filter"                "invert(90%)"
@var text  score-preview-filter  "score preview filter"        "brightness(50%)"
@var text  discount-filter       "discount filter"             "brightness(40%)"
@var text  ad-filter             "ad filter"                   "none"
@var text  avatar-filter         "avatar filter"               "brightness(80%)"
@var text  cover-filter          "cover filter"                "brightness(80%)"
@var text  svg-filter            "svg filter"                  "contrast(117%) brightness(80%)"

==/UserStyle== */

@-moz-document domain("musescore.com") {
  /* original colors
  @background-main: #ffffff;
  @background-secondary: #f6f6f6;
  @background-tertiary: f2f2f2;
  @background-accent: #e2e8f0;
  @text-main: #1a202e;
  @text-secondary: #364152;
  @text-tertiary: #64748b; #94a0b0;
  @link: #2e68c0;
  @link-hover: #1a4f9f;
  @main: #2e68c0;
  @main-hover: #1a4f9f;
  @main-transparent: #e1effe;
  @main-transparent-hover: #c3ddfd;
  @blue-dark: #a4cafe;
  @main-magic: #daecfe;
  @green: #21b275;
  @green-light: #0b804f;

  @measure-current: rgba(255,0,0,.2);
  @measure-hover: rgba(255,0,0,.05);
  
  @border-main: #cfd8e3;
  @border-secondary: #d2d6dc;
  @border-secondary-hover: #94a0b0; #97a6ba;
  @border-magic: #a4cafe;
  */

  @link-hover: @main-hover;

  @main-hover: if(@is-dark-scheme = 1, lighten(@main, 10%), darken(@main, 10%));
  @main-transparent-hover: if(
    @is-dark-scheme = 1,
    lighten(@main-transparent, 6%),
    darken(@main-transparent, 6%)
  );

  @blue-dark: if(
    @is-dark-scheme = 1,
    saturate(darken(@main, 18%), 10%),
    saturate(lighten(@main, 35%), 10%)
  );

  @main-magic: if(
    @is-dark-scheme = 1,
    hsla(
      hsvhue(@main),
      if(saturation(@main) = 0, 0%, 0.5 * saturation(@main)),
      0.35 * lightness(@main) + 4,
      alpha(@main)
    ),
    hsla(
      hsvhue(@main),
      if(saturation(@main) = 0, 0%, 0.125 * saturation(@main) + 87.5),
      0.2 * lightness(@main) + 80%,
      alpha(@main)
    )
  );

  @secondary-hover: if(
    @is-dark-scheme = 1,
    lighten(@secondary, 8%),
    darken(@secondary, 8%)
  );

  @measure-hover: fadeout(@measure-current, 75%, relative);

  @shadow-color: if(@is-dark-scheme = 1, white, black);

  @border-main: if(
    @is-dark-scheme = 1,
    hsl(
      hsvhue(@main),
      if(saturation(@main) = 0, 0%, 0.15 * saturation(@main)),
      1.7 * lightness(@background-secondary)
    ),
    hsl(
      hsvhue(@main),
      if(saturation(@main) = 0, 0%, 0.4 * saturation(@main)),
      0.9 * lightness(@background-secondary)
    )
  );

  @border-secondary: if(
    @is-dark-scheme = 1,
    hsl(
      hsvhue(@main),
      if(saturation(@main) = 0, 0%, 0.05 * saturation(@main)),
      1.4 * lightness(@background-secondary)
    ),
    hsl(
      hsvhue(@main),
      if(saturation(@main) = 0, 0%, 0.15 * saturation(@main)),
      0.9 * lightness(@background-secondary)
    )
  );

  @border-secondary-hover: if(
    @is-dark-scheme = 1,
    hsl(
      hsvhue(@main),
      if(saturation(@main) = 0, 0%, 0.1 * saturation(@main)),
      2.5 * lightness(@background-secondary)
    ),
    hsl(
      hsvhue(@main),
      if(saturation(@main) = 0, 0%, 0.2 * saturation(@main)),
      0.65 * lightness(@background-secondary)
    )
  );

  body,
  html {
    color-scheme: if(@is-dark-scheme = 1, dark, light);
    background-color: @background-main;
    color: @text-main;
  }

  main,
  .OWn3l {
    background-color: @background-main;
  }

  body.maintenance-page,
  body.page-boxed-content {
    background-color: @background-secondary;
  }

  /*** Common styles ***/

  /** text **/

  /* main links */
  a,
  .Dhs0s,
  .EXa5J,
  .Ggd5G,
  .eANU2,
  .KOP5e,
  .oz9dW,
  .z5wmd,
  .z5wmd a {
    color: @link;
  }

  a:focus,
  a:hover,
  .u_VDg.Dhs0s.O9yD2:hover,
  .Dhs0s.O9yD2:active,
  .Dhs0s.O9yD2:hover,
  .EXa5J:hover,
  .Ggd5G:hover,
  .eANU2:hover,
  .u_VDg.Dhs0s.wXNik:hover,
  .Dhs0s.wXNik:active,
  .oz9dW:hover {
    color: @link-hover;
  }

  .diP_e.iCnHA:hover button {
    color: @text-main;
  }

  /* white links */
  .RsvsB {
    color: @text-tertiary;
  }

  .RsvsB.hxVnv,
  .RsvsB.O9yD2.u_VDg:hover {
    color: @text-secondary;
  }

  /* header text, "Difficulty level", "Main Info", numbers, popup text */
  .V4kyC,
  .CypfN,
  .nFRPI,
  .J0qIH,
  .rsfUn,
  .FHjkC,
  .Ldf02,
  .mtQ2J,
  .qgEgI,
  .m_eHc,
  .IgMdr,
  .aR8EV {
    color: @text-main;
  }

  /* plain text, special text */
  .DIiWA,
  .LuX7k {
    color: @text-secondary;
  }

  /* tertiary text */
  .WJGhZ,
  .CuFrh,
  .NSJni,
  .NSJni path {
    color: @text-tertiary;
  }

  /* svg on buttons and links */
  .n3ERC,
  .n3ERC circle,
  .n3ERC path {
    fill: @link;
    color: @link;
  }

  /** buttons **/
  /* main buttons */
  .Dhs0s.nOTLW,
  .qVgEp {
    background-color: @main;
  }

  .u_VDg.Dhs0s.nOTLW:hover,
  .qVgEp:hover,
  .Dhs0s:hover {
    background: @main-hover;
  }

  .qVgEp:disabled {
    background-color: @background-tertiary;
  }

  /* inactive main */
  .Dhs0s.nOTLW.UlZjN {
    background: @blue-dark;
  }

  /* transparent main buttons, Follow button */
  .tDPQ9.nOTLW,
  .GCNL2 {
    background: @main-transparent;
    color: @link;
  }

  .tDPQ9.nOTLW:hover,
  .GCNL2:hover {
    background-color: @main-transparent-hover;
  }

  /* white buttons */
  .plVkZ.nIsQu,
  .GCNL2.pRBsn {
    background: @background-main;
    color: @text-main;
    border-color: @border-secondary;
  }

  .plVkZ.nIsQu:hover,
  .GCNL2.pRBsn:hover {
    color: @text-main;
    border-color: @border-secondary-hover;
  }

  .GCNL2.pRBsn:disabled {
    background: @background-main;
    color: @text-tertiary;
    border-color: @border-secondary;
  }

  .plVkZ.nIsQu:after {
    border-color: @border-main;
  }

  .plVkZ.nIsQu:hover:after {
    border-color: @border-secondary-hover;
  }

  .plVkZ.nIsQu svg path {
    fill: currentColor;
  }

  /* other buttons */
  .N0P7K {
    color: @text-tertiary;
  }

  .u_VDg.N0P7K.O9yD2:hover {
    fill: @text-secondary;
    color: @text-secondary;
  }

  /* textarea */
  .NvccO {
    background-color: @background-main;
    border-color: @border-main;
  }

  ._ZikE {
    border-left-color: @border-main;
  }

  .bkmfh {
    color: @text-secondary;
  }

  /* selector */
  .FMkpa {
    background-color: @background-main;
    fill: @text-tertiary;
    border-color: @border-main;
  }

  .FMkpa > select {
    color: @text-tertiary;
  }

  .FMkpa > select option,
  .FMkpa > select optgroup {
    color: @text-secondary;
    background-color: @background-secondary;
  }

  /** checkbox **/
  .T2luU:before {
    background-color: @background-main;
    border-color: @border-main;
  }

  .T2luU.wTCVi:before {
    background-color: @main;
    border-color: @main;
  }

  /** radio button **/
  .WY0tX {
    background-color: @background-main;
    color: @background-main;
    border-color: @border-main;
  }

  .oyc_A.hSiSi .WY0tX {
    background: @main;
    border-color: @main;
    color: @main;
  }

  .WY0tX:after,
  .oyc_A.hSiSi .WY0tX:after {
    background-color: @background-main;
  }

  /** main navbar **/

  .xlHp4 {
    background-color: @main;
  }

  .u_VDg.Dhs0s.wXNik.MXKfV:hover,
  .Dhs0s.wXNik.MXKfV:active,
  .Dhs0s.MXKfV.nIsQu:hover:after {
    background-color: @main-hover;
  }

  .Dhs0s.nIsQu:hover {
    color: @link;
  }

  .Dhs0s.nIsQu:hover:after {
    border-color: @main-hover;
  }

  /* nav discount */
  header.NnZeV > nav + div {
    filter: @discount-filter;
  }

  /* nav ad */
  .etnW4 {
    background-color: @background-secondary;
  }

  /** search **/

  .ic0KS,
  .LMYIU {
    background-color: @background-main;
  }

  .ic0KS.EGfQI {
    border-color: @border-main;
  }

  .wMbIR {
    background-color: @background-main;
    border-radius: 6px;
  }

  .Yf0HJ {
    background: transparent !important;
  }

  .OHeqn {
    background-color: @background-secondary;
  }

  /** custom selector **/
  .AU7yR.nOTLW {
    background-color: @background-main;
    color: @text-secondary;
    border-color: @background-accent;
  }

  .HFvdW:not(.wSWus) svg path {
    fill: currentColor;
  }

  /* drop-down menu */
  .ZcIR_.g3QeU .MfuCz,
  .ZcIR_.SRzzT .MfuCz {
    background-color: @background-main;
    box-shadow:
      0 0 0 1px fade(@shadow-color, 5),
      0 10px 15px -3px fade(@shadow-color, 10),
      0 4px 6px -2px fade(@shadow-color, 5);
  }

  .uBrVm.OX2Fm:hover,
  .uBrVm.cMYM6,
  .m5M4W,
  .jCQkk:hover:not(.s9xvp),
  .cdgCo:hover {
    background-color: @main;
  }

  .uBrVm.OX2Fm {
    color: @text-main !important;
  }

  .gU2P9.gU2P9.gU2P9.gU2P9,
  .gU2P9.gU2P9.gU2P9.gU2P9:hover {
    background-color: @background-accent;
    color: @text-main !important;
  }

  .GgGe4.ehbCW + .GgGe4 {
    border-top-color: @background-secondary;
  }

  /** popup notifications **/
  .R0wae {
    background-color: @background-main;
    border-color: @background-accent;
  }

  .FPzhg,
  .WRH37 {
    border-bottom-color: @background-accent;
  }

  .FPzhg:hover {
    background-color: @background-secondary;
  }

  .YmBV2.xIk5_ path {
    fill: @main;
  }

  /** score preview */
  .T_xXu,
  .wtKHS,
  .ySV7C {
    filter: @score-preview-filter;
    background: white;
  }

  /** signs **/
  /* "pro" sign */
  .Bnh13,
  .Bnh13:focus,
  .Bnh13:hover {
    background-color: @secondary;
  }

  /* "original" sign */
  .JnqFx {
    background: @main-transparent;
    color: @link;
  }

  /* "public domain" sign */
  .o1QE0 {
    background-color: @main;
  }

  .zeFu4.o1QE0 {
    color: @main;
  }

  /* sign popup */
  .dwVOQ,
  .U8wvj {
    background-color: @background-main;
  }

  .xFow5,
  .x6Vqy {
    background-color: @background-main;
  }

  .MKeqF .dwVOQ,
  .U8wvj {
    box-shadow: 0 4px 12px fade(@shadow-color, 17);
  }

  /* avatars */
  .CrCMp {
    filter: @avatar-filter;
  }

  /* profile cover */

  .Zf301.K8vI0,
  .WGuoB.zFW_9,
  .zFW_9 {
    background-color: @main;
  }

  .Zf301.K8vI0[style*="background-image"][style*="cache"]:not(
      [style*="cache=0"]
    )::before {
    /* filter only if there is a cover. hope this works */
    content: "";
    position: absolute;
    left: 0;
    right: 0;

    display: block;
    width: 100%;
    height: 100%;
    z-index: 2; /* strange behavior at 1 */

    backdrop-filter: @cover-filter;
  }

  /* additional section */
  .ASx44.hQ6hq {
    background-color: @background-secondary;
  }

  /***************************/
  /*** SIDEBAR ***/

  aside,
  .BxFu3 {
    background-color: @background-secondary !important;
    border-color: @border-main !important;
  }

  .SqnhX + .SqnhX {
    border-top-color: @border-main;
  }

  /* "Ensamble solo" */
  .MiLb3.Wus7S.qiCX5 {
    border-bottom-color: @background-accent;
  }

  /* Bottom divider */
  .IqPzy.yXl79 .talZR {
    background-color: @background-accent;
  }

  /* active tab */
  .PV4Ea {
    border-bottom-color: @link;
  }

  /* "Send to YouTube" svg */
  path[fill="#2E68C0"] {
    fill: @link;
    color: @link;
  }

  .iqM7z,
  .iqM7z path {
    fill: @text-secondary;
    color: @text-secondary;
  }

  /* Difficulty level */
  .y2ohV {
    background: @background-accent;
    color: @text-secondary;
  }

  /* score visibility box */
  .xhN57 {
    background-color: @main-transparent;
  }

  /* "Add the missing information" button */
  .GCNL2.sJCgc {
    background-color: @background-main;
    border-color: @link;
    color: @link;
  }

  .GCNL2.sJCgc:hover {
    border-color: @main-hover;
    color: @main-hover;
  }

  /***************************/
  /*** SHEETS OVERVIEW ***/

  #jmuse-layout {
    background-color: @background-tertiary;
    color: @text-main !important;
  }

  /** toolbar **/
  .Nw3SK {
    background-color: @background-secondary;
  }

  #jmuse-layout .plVkZ.O9yD2 {
    color: @text-main;
  }

  /* buttons svg */
  #jmuse-layout .HFvdW:not(.wSWus) svg path {
    fill: @text-main;
  }

  /* buttons svg main*/
  #jmuse-layout .HFvdW:not(.wSWus) svg path[fill="#364152"] {
    fill: @text-secondary;
  }

  /* buttons hover */
  .vI1Jl.vI1Jl:active,
  .vI1Jl.vI1Jl:focus,
  .vI1Jl.vI1Jl:hover {
    color: @text-secondary;
  }

  .vI1Jl.vI1Jl:hover:before {
    background-color: @background-accent;
  }

  /* buttons active */
  .Q7LVH:before {
    background-color: @background-accent;
  }

  /* text */
  .frGa8 {
    color: @text-secondary;
  }

  /* speed text */
  .sJkYA {
    color: @text-main;
  }

  /* playback bar */
  .ZGQOx._va4s {
    background-color: fade(@main-transparent, 70%);
  }

  .hKxIH,
  .j9sb8._va4s,
  .FwRCf:before {
    background-color: @main;
  }

  .FwRCf {
    background-color: @background-accent;
  }

  /* speed bar */
  .HI02X .hKxIH,
  .HI02X .j9sb8 {
    background-color: @text-secondary;
  }

  /* videoplayer */
  .KhcJt {
    background-color: @background-tertiary;
    border-color: #aaa;
  }

  /* row resize */
  .Fjl2q {
    background-color: @background-main;
  }

  .Fjl2q path {
    fill: @text-tertiary;
  }

  /** sheet images **/
  #jmuse-scroller-component {
    background-color: @background-tertiary;
  }

  #jmuse-scroller-component img {
    filter: @score-filter;
  }

  #jmuse-scroller-component > div,
  #jmuse-scroller-component > section > div {
    background-color: @background-secondary;
  }

  /* current measure */
  .EPvAl.rMeX4 {
    background-color: @measure-current;
  }

  /* hover measure */
  .EPvAl {
    background-color: @measure-hover;
  }

  /* rate score popup */
  .KkvbQ {
    background-color: @background-main !important;
    border-color: @background-accent;
  }

  /* discount */
  .s3Wga .tbdq7 {
    filter: @discount-filter;
  }

  /***************************/
  /*** POPUP WINDOWS ***/

  .b_r17.aRvRz,
  .ASx44._gyAu {
    background-color: @background-main !important;
  }

  .ASx44 {
    border-color: @background-accent;
  }

  .CZtD5.YCAHV {
    border-top-color: @background-accent;
  }

  .b_r17 {
    box-shadow:
      0 0 0 0 transparent,
      0 0 0 0 transparent,
      0 25px 50px -12px fade(@shadow-color, 25);
  }

  /* section */
  .SUZeM:hover {
    background-color: @background-secondary;
  }

  @media (min-width: 768px) {
    .diP_e.iCnHA:hover {
      background-color: @background-secondary;
    }
  }

  /* remove button */
  .plVkZ.wXNik {
    color: @text-main;
  }

  .plVkZ.wXNik:hover {
    color: @text-tertiary;
  }

  /* green button */
  .cuYtG.nOTLW,
  .Pbc53 {
    background-color: @secondary !important;
  }

  .cuYtG.nOTLW:hover {
    background-color: @secondary-hover !important;
  }

  /* info */
  .T3FEN.T3FEN {
    background-color: @background-accent;
  }

  .T3FEN.Kaa9U {
    background-color: @main-magic;
    border-color: @blue-dark;
  }

  /* info svg */
  .T3FEN path {
    fill: @text-main;
  }

  /* important section */
  .xY4g6 {
    background-color: @background-accent;
  }

  /*** MY SCORES ***/
  .V2I3c .jd4he {
    background-color: @background-main;
  }

  /* score name */
  .qvkQr .thXCZ {
    color: @text-main;
  }

  /* score toolbar */
  .JVNmZ {
    background-color: @background-main;
  }

  .TW7p7 {
    transition: opacity 0.5s;
  }

  /* info boxes */
  .jQgT5:hover .TW7p7 {
    opacity: 0;
  }

  .McuYj path {
    fill: @link;
  }

  .UWYmr {
    background-color: @background-accent;
    color: @text-main;
  }

  .aB_mX > svg path {
    fill: @text-secondary;
    color: @text-secondary;
  }

  /* user score preview */
  .QSRn8 {
    background-color: fade(@shadow-color, 5);
    /*z-index: 1; /*can improve color */
  }

  .PEjlU img {
    filter: @score-preview-filter;
    border-radius: 6px;
  }

  .V2I3c th {
    color: @text-main;
  }

  /*** SETTINGS PAGE ***/
  /** setting sections **/
  .dhE8S {
    color: @text-main;
  }

  /* parameters table */
  .qMWEs:nth-child(2n) {
    background-color: @background-secondary;
  }

  /** bottom box **/
  .ngGDM,
  .Y1TdU {
    color: @text-main;
  }

  /*** FILE UPLOAD ***/
  /* file choose */
  .SGoND,
  .qIyhT {
    background-color: @background-secondary;
  }

  /* file name */
  .SZinB .iURGe {
    background-color: @background-main;
  }

  /* upload score preview */
  .M8LHw {
    background-color: @background-secondary;
  }

  /* upload date */
  .AIjmp {
    background: @background-accent;
    color: @link;
  }

  /* process bar */
  .ws02l {
    background-color: @background-main;
  }

  ._RqxF.ws02l {
    border-color: @main;
  }

  ._RqxF .iURGe {
    background-color: @main-transparent;
  }

  ._RqxF .SEF42 {
    color: @link;
  }

  /*** OTHER ***/

  /** ad **/
  header .QPTJc iframe,
  aside > div > div > div.primisslate,
  aside > section > div > div > iframe {
    filter: @ad-filter;
  }

  /* instruments circle */
  .xIlNZ,
  .WGuoB .kH0xm {
    background-color: @background-secondary;
    border-color: @background-accent;
  }

  /* group card */
  .seCWY.T3UE8,
  .seCWY.T3UE8 section {
    background-color: @background-main;
  }

  /* page selection */
  .wXNik:active,
  .wXNik:hover {
    background: none;
  }

  /* svg filter */
  .et8v_,
  .L3qPH canvas {
    filter: @svg-filter;
  }

  /* svg fix */
  .rKL0z,
  .rKL0z path {
    fill: #fff;
    color: #fff;
  }

  /** log in window **/
  .uM_OT,
  .IqPzy.TNdPJ .rrPcD,
  .IqPzy.kuNz6 .rrPcD {
    background-color: @background-main;
  }
}
